@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body {
    font-family: 'Varela Round';
    background: linear-gradient(to bottom right, #7fc9ea, #fff);



}

.container {
    margin: 20px;
}

/* ---------------------MENU------------------ */
.menu {
    position: fixed;
    width: 100%;
    z-index: 2;
}



.menu-horizontal {
    background-color: #3679a8;
    list-style: none;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    height: 150px;
    align-items: center;

}


.itemMenu {
    color: #fff;
    padding: 50px;
    font-size: 16px;
    cursor: pointer;

}



.logotipo {
    position: absolute;
    width: 100px;
}

.logo__name {
    font-family: 'Dancing Script';
    top: 10%;
    font-size: 30px;
    position: absolute;
    margin-top: 4%;
    left: 1%;
    color: white;
}

a,
a:hover,
a:active,
a:visited,
a:focus {
    text-decoration: none;


}



.itemMenu:hover {
    transition: 0.7s;
    color: #ecb32e;
}

/* ---------------------box__banner------------------ */
.parallax {
    width: 100%;
    position: relative;
    height: fit-content;
    background-image: url('../images/banner2.jpg');
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__principal {
    width: 100%;
    height: 500px;


}

.rio__de__Janeiro {
    font-family: 'Dancing Script';
    top: 30%;
    font-size: 60px;
    position: absolute;
    right: 2%;
    z-index: 1;
    opacity: 0.9;
    color: #2b313d;

}


/* ---------------------box__sobre------------------ */
.conteudo__estado {
    color: #0c2d67;

}

/* ---------------------box__adivinha------------------ */

.box__adivinha {
    margin-top: 60px;
}



.container__voce__sabia {
    width: 301px;

}

.conteudo__adivinha {
    color: #2c2734;

}

.imagem__avatar {
    height: 200px;
    justify-content: center;

}

.adivinha__nomeDoFilme {
    color: #0c2d67;
}

/* ---------------------box__sinopse------------------ */

.box__sinopse {
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    border: solid 1px #0c2d67;
    background-color: #7fc9ea;
    border-radius: 5px;



}

.sub__titulo__sinopse {
    text-align: center;
    margin-top: 15px;
    color: #0c2d67;

}

.texto__sinopse {
    text-align: start;
    padding-left: 30px;
    margin-top: 20px;
    letter-spacing: 1px;
}


.video__youtube {
    width: 300px;
    height: 350px;
    justify-content: center;
}


/* ---------------------box__curiosidades------------------ */


.box__curiosidades {
    margin-top: 150px;


}

.curiosidades__subtitulo {
    text-align: center;
    margin-top: 10px;
    color: #0c2d67;

}

.container__curiosidades1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

.container__curiosidades2 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.curiosidades {
    color: #0c2d67;
    background-color: #7fc9ea;
    flex: 1;
    margin: 40px 20px;
    text-align: center;
    font-size: 15px;
    border: solid 1px #0c2d67;
    padding: 10px 30px;
    border-radius: 10px;
    width: 500px;
    height: 200px;
}

.curiosidades:hover {
    background: linear-gradient(to bottom right, #7fc9ea, #fff);

}

.titulo__curiosidade {
    font-weight: 600;
    padding: 30px;
    font-size: 15px;
}

.curiosidades__fonte {
    color: #0c2d67;
    font-size: 14px;
    position: relative;
    bottom: 35px;
    margin-left: 20px;
}

.linkAdoroCinema {
    color: #0c2d67;
    font-size: 12px;
}



/* ---------------------box__introducao__pontos__turisticos------------------ */


.texto__avatar {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: rgb(44, 39, 52);
}

/* ---------------------pontos__turisticos------------------ */

.pontoTuristico {
    text-align: center;
    color: #0c2d67;

    margin-top: 90px;
}

.containerPontoTuristico {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 40px;
  

}

.imgPontosTuristicos {
    width: 300px;
    height: 226px;
    border-radius: 5px;
}

.conteudoPontosTuristicos {
    color: #0c2d67;
    margin: 0 10px;
}
.linkPontosTuristicos{
    color: #0c2d67;
    font-weight:700;

}
.estrela__amarela{
    color: #f08212;

}
.estrela__cinza{
    color:#808080;

}
.avaliacao__fonte{
    padding-left: 345px;
    font-size: 12px;
    color:#0c2d67;
    
    
}
.avaliacao__fonte a{
    font-size: 12px;
    color:#0c2d67;
}



/* ---------------------box__cadastro------------------ */
.container__voltar {
    float: right;
    margin-top: 60px;


}

.voltarAoTopo {
        
      bottom: 20%;
    right: 1%;
    cursor: pointer;
    color: #f08212;
        
}

.nomeVoltarAoTopo {
    color: #f08212;
    font-family: 'Varela Round';
    font-size: 11px;

}

.containerCadastro {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 300px;
    color: #2c2734;

}

.imgFinal {
    width: 200px;

}


.textoCadastro:hover {
    color: #f08212;
}

/* ---------------------footer------------------ */

footer {
    margin-top: 250px;
    text-align: center;
    padding: 10px;
    background-color: #f08212;

}

.contatos {
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    margin: 10px;

}

.redes {
    padding-top: 90px;
}

.icons {
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #146cb3;
    padding: 5px 2px;
    background-color: #146cb3;
    margin-top: 3px;
}

.frase {
    font-size: 12px;
    color: #fff;
    margin-top: 10px;
    


}

.infoFooter {
    display: flex;
    justify-content: space-between;
}

.newsletter {
    font-size: 12px;
    color: #fff;


}

label {
    font-size: 12px;
    color: #fff;
}

.campos {
    border: none;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;

}

input:hover {
    color: teal;
}




.sugestoes {
    border: transparent;
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 60px;
    resize: none;
    overflow: auto;
    font-size: 14px;
     padding-right: 50px;

}



.botao__enviar {
    border: none;
    padding: 6px 50px;
    color: #fff;
    border-radius: 3px;
    outline: 0;
    color: #f08212;

}

.botao__enviar:hover {
    background-color: #f5e2d0;


}

textarea:focus,
input:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}