@media (max-width:480px ) { 

    .rio__de__Janeiro {

        font-family: 'Dancing Script';
        top: 30%;
        font-size: 60px;
        position: absolute;
        right: 2%;
        z-index: 1;
        opacity: 0.9;
        color: #2b313d;
    
    }
    .banner__principal {
        width: 100%;
        height:100px;
    
    
    }
    





    
  }