@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    background-image: url(./img/img_1.jpg);
    background-repeat: no-repeat, repeat;
    background-size: cover;
  
}


.form_pontosTuristicos {
    margin: auto;
    width: 500px;
    height: 750px;
    background-color: #2086d8;
    border-radius: 10px;

}

/* elementos internos */
h2 {
    text-transform: uppercase;
    text-align: center;
    color: #ffd328;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 35px;
    padding-top: 30px;
}

p {
    margin-top: 30px;
    margin: 40px;

}

label {
    font-size: 15px;
    font-weight: 900;
    color: #ffd328;

}

select {
    border: 1px solid #ffd328;

}




/* formatando campos */
#sobre {
    width: 100%;
    height: 100px;
    resize: none;
    overflow: auto;
    font-size: 14px;
    border-radius: 5px;
    border: transparent;


}

textarea,
button:focus,
input:focus,
select:focus {
    
    outline: 0;
}

.campos {
    width: 100%;
    height: 35px;
    font-size: 14px;
    border: transparent;
    border-radius: 5px;
    padding: 10px;
}

.campos__pagamentos {
    font-size: 14px;
    border: 1px solid #ffd328;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;

}

.pagamento {
    border: 1px solid #ffd328;
    padding: 20px;
    border-radius: 5px;

}

.botao {
    text-align: center;
     margin:25px; 
    
}

.botao__enviar {
    color: #ffd328;
    background-color: #2086d8;
    margin: 0;
    padding: 10px 60px;
    border: solid 1px#2086d8;
    border-radius: 5px;
    font-size: 15px;

}

.botao__enviar:hover {
    background-color: #ffd328;
    color: #2086d8;
    font-weight: bolder;
    cursor: pointer;
   
}


/* responsive*/
@media screen and (max-width: 767px) {

    body {
        background-image: none;
    }

    .form_pontosTuristicos {
        width: fit-content;
        height: max-content;
        border-radius: 0px;
     
    }  

    h2 {
        margin-top: 0px;
        padding-top:18px;
        font-size: 18px;
    }
   

    .campos__pagamentos {
        margin-left: 153px;
    }


    .botao {
        background-color: #2086d8;
        margin: 5px 0px 0px 0px;
     
    }
    .botao__enviar {    
        background-color: #2086d8;
        margin-bottom: 20px;
        border: solid 1px#ffd328;
        font-size: 18px;
    
    }

}