/* media querie for laptop under construction */
@media (min-width: 1024px){


  /* HEADER */

    .logotipo {
        width: 10%;
        position: relative;
        top:1%;
    
      }

      .logoName {    
        top:-15px;
        font-size:2em;
        
      }

      .bannerPrincipal {
        width: 100%;
        height: 80vh;
    
      }
      .menu {
        display: flex;
        justify-content: flex-end;
        position: relative;   
        top: -150px; 
        background: none;
        transform: none;
        opacity:1;
        
       
        padding-right: 100px;
       
     
      }

      .menuLink {
        margin-left:50px;
        font-size: 1rem;
        font-weight: 100;
    
      }


  .menu__footer :hover {
    text-decoration: none;
    color: #18264a;
    font-weight: 700;
    
  }


  .menu :hover {
    text-decoration: none;
    color: #18264a;
    font-weight: 700;
   
  }

  .menu__hamburguer {
    display: none;
  }



  /*MAIN */
   


  /* banner */
   .bannerPrincipal {
    width: 100%;
    height: 70vh;
    opacity: 1.0;

  }

  .fraseBanner {
    font-size: 2.5em;
    font-weight: bold;
    position: relative;
    bottom:330px;
    color: #18264a;

  }

  .destaqueBanner {

    color: #fff;
  }

    /*------> busca de locais<------*/
    /* .pesquisa__locais {
      text-align: center;
      position: relative;
      bottom: 400px;
  
    } */
    
   .botaoDeBusca {
    width: 40vw;
    border-radius:20px;
    height: 15vh;
    margin-left:50px;
    /* position: relative;
    bottom:700px; */
   
   
  }  

  .pesquisa__locais {
    text-align: center;
    position: relative;
    bottom: 130px;

  }
  .linkBusca {
    font-size: 1.2em;
  }



  .nomeLocal {
    font-size:1.2em;
  }

  .titulo {
    position: relative;
    top:10px;
  }
  .resultadoBusca {
    margin-left:40px;
    display: flex;
    margin-top: 100px;
   
  }
  .imgLocal {
    padding: 20px;
    border-radius: 40px;
    height: 60vh;
    width:40vw;
  }

  .descricaoDaImagem {
    font-size: 1em;
  }

  
/* footer */
footer{
  padding-top: 0;
}
.menuFooter{
  margin-top:100px;
}

.menu__footer{
  position:relative;
  top:40px;
}


  

  .icons {
    margin-top: 30px;
    /* font-size: 10px; */
    /* margin-right: 60px; */

  }






}